{{! Lists view }}
{{#if list}}
    <h2>Select a list</h2>
    <ul class="list-group">
        {{#each list }}

            <li class="row list-group-item">
            <span class="pull-left">
                <span>{{ @index }}</span> -
                {{#if done }}<small>{{else }}<b>{{/if}}
                {{ name }}
                {{#if done }} <i> - done</i></small> {{else }}</b>{{/if}}
            </span>
                <form method="post" action="#" class="form-horizontal pull-right">
                    {{#if done }}
                        <button class="btn btn-default btn-sm pull-left" type="submit" name="todo" value="{{ name }}">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    {{/if}}
                    <button class="btn btn-danger btn-sm pull-left" type="submit" name="delete" value="{{ name }}">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </form>
            </li>

        {{/each}}
    </ul>
{{/if}}
</article>
</div>
